/* BASIC STYLES HERE */
body{
    /* background: #ffe743; */
    background: linear-gradient(115deg, #152345 0%, #1c8a46 100%);
}

.title-font{
    font-family: 'Caveat', cursive;
}

.jot-body{
    font-family: 'Caveat', cursive;
    background-color: #f7e4ce;
    min-height: 10em;
    min-width: 15em;
    margin: 1em;
    font-weight: 100;
}

.jot-cont{
    background-color: #ff000031;
}
.jot-cont-blue{
    background-color: #0000ff30;
}
.jot-cont-red{
    background-color: #ff000030;
}
.jot-cont-green{
    background-color: #00800030;
}
.jot-cont-purple{
    background-color: #80008030;
}
.jot-cont-yellow{
    background-color: #dacf0030;
}

.save-button{
    background-color: #1f1f7131;
}

.jot-button{
    background-color: #15234580;
    color: white;
    border-radius: 10px;
}

.color-picker{
    min-height: 1em;
    min-width: 10em;
}

.open-button{
    background-color: #1c8a46b9;
}

.color-picker-blue{
    color: #000012;
}.color-picker-red{
    color: #1e0000;
}.color-picker-green{
    color: #001500;
}.color-picker-purple{
    color: #1d001d;
}.color-picker-yellow{
    color: #1c1a00;
}